@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap");
*, p, h1, h2, h3, h4, a {
  font-family: "PT Sans";
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 3px;
  overflow: hidden;
}
.card .card-image {
  background-color: #272727;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.card .card-image:hover {
  background-size: 108%;
}
.card .card-content {
  background-color: #171717;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px 30px 10px;
  color: #F6F6F6;
}
.card .card-content p {
  margin-top: 10px;
}

.navbar {
  height: 8vh;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
}
.navbar .navbar-div {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .navbar .navbar-div {
    width: 100%;
  }
}
.navbar .navbar-div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .navbar .navbar-div div {
    width: auto;
    padding: 25px;
  }
}
.navbar .navbar-div div img {
  width: 75px;
}
.navbar .navbar-div div button {
  margin: 15px;
  cursor: pointer;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  transition: 0.2s;
  background-color: #F6F6F6;
}
.navbar .navbar-div div button:hover {
  background-color: #eeeeee;
}
.navbar .navbar-div div i {
  margin: 15px;
  cursor: pointer;
  color: gray;
  transition: 0.2s;
}
.navbar .navbar-div div i:hover {
  color: black;
}
.navbar .navbar-div div #mobileMenuIcon {
  display: none;
}
.navbar .navbar-div .navbar-buttons {
  width: auto;
}
@media screen and (max-width: 1023px) {
  .navbar .navbar-div .navbar-buttons {
    display: none;
  }
}

.slideshow {
  width: 100%;
  height: 92vh;
}
.slideshow div {
  height: 70%;
  background-color: #272727;
}
.slideshow div div {
  height: 100%;
}
.slideshow div .swiper-button-prev, .slideshow div .swiper-button-next {
  top: 0;
  height: 110%;
  background-color: white;
  opacity: 0.1;
  color: black;
  padding: 0 30px;
  transition: 0.1s;
}
.slideshow div .swiper-button-prev:hover, .slideshow div .swiper-button-next:hover {
  opacity: 0.15;
}
.slideshow div .swiper-button-prev {
  left: 0;
}
.slideshow div .swiper-button-next {
  right: 0;
}
.slideshow .navhelper {
  height: 30%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow .navhelper::-webkit-scrollbar {
  display: none;
}
.slideshow .navhelper button {
  background-position: center center;
  background-size: auto 100%;
  height: 130px;
  width: 130px;
  min-width: 130px;
  margin: 15px;
  border-radius: 100px;
  transition: 0.15s;
}
.slideshow .navhelper button:hover {
  opacity: 0.8;
}
.slideshow .navhelper button:nth-child(1) {
  background-image: url("https://picsum.photos/1920/1080");
}
@media screen and (max-width: 1023px) {
  .slideshow {
    width: auto !important;
  }
  .slideshow div {
    height: 80%;
  }
  .slideshow .navhelper {
    height: 20%;
  }
  .slideshow .navhelper button {
    height: 85px;
    width: 85px;
    min-width: 85px;
  }
}
@media screen and (max-width: 680px) {
  .slideshow div .swiper-button-prev, .slideshow div .swiper-button-next {
    display: none;
  }
  .slideshow .navhelper {
    overflow: scroll;
    justify-content: start;
  }
  .slideshow .navhelper div {
    background-color: rgba(255, 255, 255, 0);
    min-width: 1px;
  }
}

.content1 {
  background: linear-gradient(to bottom, #F6F6F6 60%, #fff 40%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.content1 .content1-div {
  width: 1024px;
  display: flex;
  flex-flow: row wrap;
}
.content1 .content1-div .content1-subdiv {
  width: 33.3%;
}
.content1 .content1-div .content1-subdiv:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content1 .content1-div .content1-subdiv:nth-child(1) p {
  margin: 0 30px 0 30px;
}
.content1 .content1-div .content1-subdiv:nth-child(1) p:last-child {
  margin-bottom: 400px;
}
.content1 .content1-div .content1-subdiv:nth-child(1) h1 {
  margin: 10px 0 10px 30px;
}
.content1 .content1-div .content1-subdiv:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content1 .content1-div .content1-subdiv:nth-child(2) .card {
  margin: 0 5px 260px 0;
}
.content1 .content1-div .content1-subdiv:nth-child(2) .card strong {
  margin-bottom: 20px;
}
.content1 .content1-div .content1-subdiv:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content1 .content1-div .content1-subdiv:nth-child(3) .card {
  margin: 0 0 10px 5px;
}
@media screen and (max-width: 1023px) {
  .content1 {
    height: auto;
  }
  .content1 .content1-div .content1-subdiv {
    width: 50%;
  }
  .content1 .content1-div .content1-subdiv:nth-child(1) {
    width: 100%;
    padding: 0 20%;
  }
  .content1 .content1-div .content1-subdiv:nth-child(1) h1 {
    margin-left: 0;
    margin-left: 0;
  }
  .content1 .content1-div .content1-subdiv:nth-child(1) p {
    margin: 0;
  }
  .content1 .content1-div .content1-subdiv:nth-child(1) p:first-child {
    margin-top: 100px;
  }
  .content1 .content1-div .content1-subdiv:nth-child(1) p:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 680px) {
  .content1 .content1-div .content1-subdiv {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .content1 .content1-div .content1-subdiv .card {
    margin: 0 0 10px 0 !important;
    width: 100% !important;
  }
}

.content2 {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content2 .content2-div {
  width: 1024px;
  height: 50vh;
  background: linear-gradient(to right, #F6F6F6 90%, #fff 10%);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 50px;
}
.content2 .content2-div .card:first-child {
  margin-left: 40px;
}
.content2 .content2-div .text-div {
  margin-left: 20px;
  width: 290px;
}
.content2 .content2-div .text-div h1 {
  margin: 10px 0 10px 0;
}
.content2 .content2-div .text-div button {
  background-color: black;
  color: #F6F6F6;
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.content2 .content2-div .text-div button:hover {
  background-color: #272727;
}
.content2 .content2-div .card:last-child {
  margin-left: 25px;
}
@media screen and (max-width: 1023px) {
  .content2 {
    height: auto;
  }
  .content2 .content2-div {
    height: auto;
    padding: 30px 0;
    margin: 30px 0;
    justify-content: center;
    background: linear-gradient(to right, #F6F6F6 95%, #fff 5%);
  }
  .content2 .content2-div .card:first-child {
    margin: 0 !important;
  }
  .content2 .content2-div .card:last-child {
    margin: 20px 0 0 0 !important;
  }
  .content2 .content2-div .text-div {
    width: 50%;
    margin: 0 0 0 3% !important;
  }
}
@media screen and (max-width: 680px) {
  .content2 .content2-div .card:last-child {
    margin: 0 !important;
  }
  .content2 .content2-div .text-div {
    margin: 50px 0 !important;
    width: 100%;
    padding: 0 18%;
  }
}

.content3 {
  margin-bottom: 150px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content3 .content3-div {
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content3 .content3-div .card {
  margin-bottom: 70px;
}
.content3 .content3-div .card:first-child {
  margin-right: 25px;
}
.content3 .content3-div div:nth-child(2) {
  z-index: 1;
}
.content3 .content3-div div:nth-child(2) h1 {
  font-weight: 100;
  margin-bottom: 90px;
  text-align: center;
}
.content3 .content3-div div:nth-child(2) div {
  border-radius: 3px;
  width: 300px;
  height: 300px;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.content3 .content3-div div:nth-child(2) div p {
  margin: 0 35px;
}
.content3 .content3-div .card:last-child {
  margin-left: 25px;
}
@media screen and (max-width: 1023px) {
  .content3 {
    height: auto;
  }
  .content3 .content3-div {
    width: 100%;
  }
  .content3 .content3-div .card {
    margin: 0px !important;
  }
  .content3 .content3-div .card:first-child {
    margin-right: -130px !important;
  }
  .content3 .content3-div .card:last-child {
    margin-top: 265px !important;
    margin-left: -130px !important;
  }
}
@media screen and (max-width: 680px) {
  .content3 {
    height: auto;
  }
  .content3 .content3-div {
    width: 100%;
  }
  .content3 .content3-div .card {
    margin: 0px !important;
  }
  .content3 .content3-div .card:first-child {
    margin-right: -275px !important;
  }
  .content3 .content3-div .card:last-child {
    margin-top: 265px !important;
    margin-left: -275px !important;
  }
}

.footer {
  border-top: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .logo-div {
  background-color: white;
  padding: 10px;
  margin-top: -22px;
}
.footer .logo-div img {
  width: 80px;
}
.footer .footer-div {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer .footer-div .footer-subdiv h2 {
  margin-bottom: 40px;
  font-size: 20px;
}
.footer .footer-div .footer-subdiv p {
  line-height: 2;
  font-size: 14px;
}
.footer .footer-div .footer-subdiv:nth-child(1) {
  width: 25%;
}
.footer .footer-div .footer-subdiv:nth-child(1) p {
  display: inline;
  margin-right: 50px;
  cursor: pointer;
  color: #555555;
  transition: 0.15s;
}
.footer .footer-div .footer-subdiv:nth-child(1) p:hover {
  color: black;
}
.footer .footer-div .footer-subdiv:nth-child(2) {
  width: 30%;
}
.footer .footer-div .footer-subdiv:nth-child(2) div {
  border-bottom: 1px solid #262626;
}
.footer .footer-div .footer-subdiv:nth-child(2) div input {
  padding: 10px;
  font-size: 14px;
  width: 70%;
}
.footer .footer-div .footer-subdiv:nth-child(2) div button {
  width: 23%;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  float: right;
}
.footer .footer-div .footer-subdiv:nth-child(2) div button:hover {
  background-color: #F6F6F6;
}
.footer .footer-div .footer-subdiv:nth-child(3) {
  width: 25%;
}
.footer .footer-div .footer-subdiv:nth-child(3) h2, .footer .footer-div .footer-subdiv:nth-child(3) div {
  margin-left: 55%;
}
.footer .footer-div .footer-subdiv:nth-child(3) div p {
  color: #555;
  cursor: pointer;
  transition: 0.15s;
}
.footer .footer-div .footer-subdiv:nth-child(3) div p svg {
  font-size: 20px;
  margin-bottom: -5px;
  border-radius: 10px;
}
.footer .footer-div .footer-subdiv:nth-child(3) div p:hover {
  color: black;
}
@media screen and (max-width: 1023px) {
  .footer .footer-div {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
  }
  .footer .footer-div .footer-subdiv {
    width: 100% !important;
    text-align: center;
  }
  .footer .footer-div .footer-subdiv p, .footer .footer-div .footer-subdiv h2, .footer .footer-div .footer-subdiv div {
    margin: 0 !important;
  }
  .footer .footer-div .footer-subdiv h2 {
    margin: 50px 0 30px 0 !important;
  }
  .footer .footer-div .footer-subdiv:nth-child(1) p {
    margin: 0 15px !important;
  }
  .footer .footer-div .footer-subdiv:nth-child(2) div {
    width: 85%;
    margin: 0 auto !important;
  }
}
.footer .info-p {
  margin: 60px;
  font-size: 14px;
  text-align: center;
}